@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
:root {
  --bg-color: #f2e8e5;
  --primary-color: #38a3da;
  --variant-color: #01447d;
  --water-color: #4c8e97;
  --bg-black: #070b1b;
  --secondary-color: #d4a013;
  --project-margin: 0.3rem;
}
*,
body,
section,
html {
  font-family: "Montserrat", sans-serif;
  padding: 0;
  margin: 0;
}
section {
  padding: 1rem;
}

body {
  background: url("./.png");
  background-color: var(--bg-color);
  margin: 0 auto;
  border-left: 3px solid black;
  border-right: 3px solid black;
  max-width: 900px;
}

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  max-height: 150px;
  text-align: center;
  padding: 16px;
  font-size: 20px;
  font-weight: 500;
}

/* media queries */
@media (width > 500px) {
  .introduction {
    flex-direction: row !important;
  }
}

/* typography */

ul.nav {
  display: flex;
  justify-content: end;
  gap: 1rem;
  list-style: none;
}
li.link {
  cursor: pointer;
  font-size: 1rem;
}
li a {
  text-decoration: none;
  color: black;
}
.link.active {
  color: var(--primary-color);
  text-decoration-line: underline;
}

li a:hover {
  color: var(--primary-color);
}

p {
  margin-bottom: 1rem;
}

h1,
h2,
h3,
h4,
h5 {
  margin: 0rem 0 0.68rem !important;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  line-height: 1.3;
}

h1 {
  margin-top: 0;
  font-size: 1.802rem;
  font-weight: 700;
}

h2 {
  font-size: 1.602rem;
}

h3 {
  font-size: 1.424rem;
}

h4 {
  font-size: 1.266rem;
}

h5 {
  font-size: 1.125rem;
}

small,
.text_small {
  font-size: 0.889rem;
}
.description {
  line-height: 1.5rem;
}
#sound {
  cursor: pointer;
  fill: none;
  stroke: black;
}
.playing {
  stroke: var(--variant-color);
}

.introduction {
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
}
.details {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.introduction-text {
  /* max-height: 300px; */
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.avatar {
  position: relative;
  max-width: 100%;
  height: 280px;
  background: radial-gradient(closest-side, #d4a013, #f2e8e5);
  border-radius: 50%;
  clip-path: circle(50% at 50% 50%);
}
.logo {
  width: 50px;
}
.avatar img {
  height: 280px;
  width: 280px;
}
.socials {
  margin-top: 1.9rem;
  display: flex;
  gap: 1.5rem;
}
i {
  color: var(--bg-black);
}

.project-container {
  background: url("./chevron.png");
  padding: 1rem;
  /* border: 2px solid var(--variant-color); */
  box-shadow: 2px 2px 5px var(--variant-color);
  display: flex;
  flex-direction: column;
}
a {
  text-decoration: none;
  width: max-content;
}
span.title {
  display: flex;
  gap: 0.5rem;
  font-weight: 800;
  margin-bottom: var(--project-margin);
  color: var(--primary-color);
}
span.subtitle {
  font-weight: 600;

  margin-bottom: var(--project-margin);
}
.project-container .btn {
  display: flex;
  align-items: center;
  justify-content: center;
  vertical-align: center;
  gap: 0.3rem;
  margin-top: var(--project-margin);
  margin-top: 1.5rem;
  align-self: flex-end;
  color: white;
  font-weight: 600;
  border: none;
  border-radius: 8px;
  padding: 0.5rem;
  background: var(--secondary-color);
}

.btn::after {
  width: 10px;
  content: url("./angle-right.svg");
}

.title::after {
  width: 15px;
  content: url("./link.svg");
}

.projects {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.company_title {
  font-size: 0.8em;
  display: block;
  font-weight: 400;
  margin-bottom: var(--project-margin);
  color: var(--primary-color);
}
